Cython==0.23.4
cloudpickle==0.1.1
cymem==1.30
falcon==0.3.0
gevent==1.0.2
greenlet==0.4.9
murmurhash==0.24
numpy==1.10.1
plac==0.9.1
preshed==0.43
python-mimeparse==0.1.4
redis==2.10.5
six==1.10.0
spacy==0.99
text-unidecode==1.0
thinc==4.0.0
uWSGI==2.0.11.2
ujson==1.33
