async==0.6.2
cloudpickle==0.1.1
cymem==1.30
Cython==0.23.4
falcon==0.3.0
gevent==1.0.2
greenlet==0.4.9
gunicorn==19.3.0
murmurhash==0.24
numpy==1.10.1
plac==0.9.1
preshed==0.43
pymongo==3.1.1
python-mimeparse==0.1.4
redis==2.10.5
scipy==0.16.1
six==1.10.0
spacy==0.99
text-unidecode==1.0
thinc==4.0.0
ujson==1.33
uWSGI==2.0.11.2
