<div class="container" style="padding-top: 40px" ng-controller="listController">

  <div class="row">
    <div class="valign-wrapper">
      <h1 class="margin-zero">Infinity ranking</h1>
    </div>
  </div>

  <!-- query field -->
  <div class="row" style="margin-top: 3rem;">
    <div class="valign-wrapper">
      <div class="valign center-block col s12 m6 s4" style="margin: 0 auto;">
        <div class="row">
          <div class="input-field col s9">
            <input id="query" type="text" ng-model="queryText">
            <label for="query" id="query-label" class="active">Query</label>
          </div>
          <button class="btn waves-effect waves-light blue col s2" type="submit" name="action" style="margin-top: 1rem; margin-left: 1rem;" ng-click="rank()">Rank<i class="material-icons right" >play_arrow</i>
        </button>
        </div>
      </div>
    </div>
  </div>

  <ul class="collection">
    <li class="collection-item" ng-repeat="document in queryResult">
      <span class="title"><b>{{document.id}}</b></span>
      <p>{{document.content}}</p>
    </li>
  </ul>

  <!-- angular directive at top and bottom of the page -->
  <ul class="pagination" style="margin: 0 auto; text-align: center;">
    <li class="waves-effect"><a href="" ng-click="prevpage()"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="" ng-click="nextpage()"><i class="material-icons">chevron_right</i></a></li>
  </ul>

</div>