<div class="container top-padding" ng-controller="queryController">
  <!-- title -->
  <div class="row">
    <div class="valign-wrapper">
      <h1 class="margin-zero">Infinity</h1>
    </div>
  </div>
  <!-- query field -->
  <div class="row top-padding">
    <div class="section">
      <div class="valign-wrapper">
        <div class="valign center-block col s12 m6 s4" style="margin: 0 auto;">
          <div class="row">
            <div class="input-field">
              <input id="query" type="text" ng-model="queryText">
              <label for="query">Query</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rank button -->
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="section">
        <div class="custom-center">
          <button class="btn waves-effect waves-light blue" type="submit" name="action" ng-click="rank()">Rank<i class="material-icons right">play_arrow</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>